# no need to change this
PROJECT=tinifyd

ENVIRONMENT=local

TIMEZONE=Asia/Shanghai

# run npm rebuild inside the node container?
TINIFYD_NPM_REBUILD=1

# enable debug mode?
TINIFYD_DEBUG=0

# log level
TINIFYD_LOG_LEVEL=debug

# path to your images
TINIFYD_SOURCE_PATH=/path/to/images

# a writable directory 
TINIFYD_TEMP_PATH=/tmp/tinifyd

# use dummy tinify (for testing only)
TINIFYD_API_DUMMY=0

# the tinify api host
TINIFYD_API_HOST=api.tinify.com

# your tinify API key
TINIFYD_API_KEY=--secure--

# max number of concurrent optimization operations
TINIFYD_CONCURRENCY=256

# delete locks older than this TTL (millis); default 5 minutes
TINIFYD_LOCK_TIMEOUT=300000

# only "mysql" is supported atm
TINIFYD_DB_DRIVER=mysql
TINIFYD_DB_HOST=db
TINIFYD_DB_PORT=3306
TINIFYD_DB_USER=root
TINIFYD_DB_PASS=root
TINIFYD_DB_NAME=tinifyd

